
body {
  color: white;
  background-image: url(stars.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 70%;
}
button {
    width: auto;
}

#navbar a:hover {
color: #86bd98;
}
#navbar a {
    font-size: 2vw;
}

#descript {
    position: center;
    background-color: rgba(29, 33, 13, 0.6);
}
#descript h4{
    color: white;
}

.description {
    font-size: 2.5vw;
    text-align: center;
    direction: rtl;
}

#main-headline {
    color: #b7f7b2;
    text-align: center;
    font-size: 4vw;
}

.reg-btn {
  position: absolute;
  left: 45%;
}
#register-form {
    position: absolute;
}

.form-register label {
 color: white
}

header {
    color: white;
    text-align: center;
    font-size: 4vw;
}
form {
    margin-left: 6px;
}

#side-nav {
    position: fixed;
    /*width: auto;
    height: auto;*/
    right: 0;
    bottom:18%;
    text-align: right;
}
#sidebarCollapse {
    width:18vw;
}

#sidebar{
    display: block !important;
    width: auto;
    height: auto;
}
#side-nav a:link, a:visited {
  color: black;
  text-align: right;
  text-decoration: none;
  display: inline-block;
}

#side-nav a:hover, a:active {
  color: #666666;
}
#side-nav a {
    font-size: 1.5vw;
}

footer {
    bottom: 0;
    text-align: center;
    margin: 0;
    padding: 0;
}

#footer p{
font-size:1.5vw;
}
#footer a:link{
text-decoration: none;
color: white;
}

#footer a:hover{
text-decoration: none;
color: #666666;
}

th, td {
text-align: right;
}

hr{
   border: none;
   height: 1.8vh;
   background: #a6a6a6;
}
#carousel img {
   right: 50%;
   width:30vw;
   height:30vw;
}

sub a:link{
    text-decoration: none;
    color: white;
}

sub a:hover{
    color: #65af90;
}


#about {
    position: relative;
    background-color: rgba(29, 33, 13, 0.6);
}
#about h5 {
    font-size: 2vw;
    color: 565656;
    text-align: right;

}
.bg-light {
    background-color: rgba(200,200,200,0.8) !important;
}
#map {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

select, input {
    font-size:1.5vw !important;
}
.checkbox {
    width: 2vw;
}

form {
    font-size: 1.5vw !important;
}
form button {
    width: auto !important;
    color:white;
    font-size: 1.5vw !important;
}
.asterisk {
    color: red;
}


@media (max-width: 550px) {
body{
    width: 90%;
}
#navbar a{
    display: block !important;
    width: auto;
    height: auto;
}
#sidebar a{
    display: block !important;
}


