{% extends 'home.html' %}
{% block content %}
<header class="mb-3">אודות</header>
<div class="content container mb-5 pb-3 pt-3" id="about">
    <h5 class="lead">בתקופה מאתגרת זו, קשה לשבור שגרה. מתוך מקום זה חשבנו על מפגש הקובאינד- מיני פסטיבל ברוח האינדינגב</h5>
    <h5 class="lead">ליצור מקום בו מוזיקה איכותית (בערך) נפגשת עם אנשים, אוכל, כלבים, חתולים, תוכים, ארנבים ותרנגולים</h5>
    <h5 class="lead">הפסטיבל עומד בהגבלות משרד הבריאות, תוך שמירה על התו הסגול. נא להקפיד על מסכות וריחוק חברתי, כיאה לאשכנזים, במהלך ההופעות</h5>
</div>
{% endblock %}