<!DOCTYPE html>
<html lang="he">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>covInD</title>

</head>
<body>
<div class ="content container">
    <nav role="navigation" class="navbar navbar-dark" id="navbar">
        <a class="navbar-brand" href="{{url_for('admins_enter')}}">כניסת מנהלים</a>
        <a class="navbar-brand" href="{{url_for('lineup')}}">ליינאפ</a>
        <a class="navbar-brand" href="{{url_for('cancel_register')}}">ביטול רישום</a>
        <a class="navbar-brand" href="{{url_for('edit_register', email_='#')}}">עריכת רישום</a>
        <a class="navbar-brand" href="{{url_for('register')}}">הרשמה</a>
        <a class="navbar-brand" href="{{url_for('about')}}">אודות</a>
        <a class="navbar-brand" href="{{url_for('home')}}">דף הבית</a>
    </nav>
</div>


    <aside id="side-nav"  >
    <a class="fa-ic" href="mailto: orityhertzog@gmail.com?subject=covInD">
        <em class="fa fa-envelope"></em> צור קשר </a><br>
        <a href="{{url_for('maps')}}"> <em class="fa fa-map-marker" aria-hidden="true"></em> מפת הגעה </a>
    </aside>



{% block content %}

{% endblock %}

 <div class ="content container">
 <footer>
            <div class="bg-dark text-center pt-1 mb-2" id="footer">
                <p>&copy Orit Hertzog 2020 <a href="https://github.com/orityhertzog" target="_blank" class="fab fa-github" style="color: white"></a></p>
            </div>
 </footer>
</div>

</body>
</html>