{% extends 'home.html' %}
{% block content %}

    <header>הרשמה</header>
    <section>
        <div  class="register-form mb-3">
            <form method="post" name="register" >
                <div class="form-group form-register col-sm-6" >
                    <label for="full-name"><span class="asterisk" >*</span>שם מלא</label>
                    <input type="text" class="form-control form-control-sm" name="full_name" id="full-name" required>
                </div>
                <div class="form-group form-register col-sm-6">
                    <label for="email"><span class="asterisk">*</span>אימייל</label>
                    <input type="email" class="form-control form-control-sm" name="email" id="email" placeholder="name@mail.com"  required>
                </div>
                <div class="form-group form-register col-sm-6">
                    <label for="password"><span class="asterisk">*</span>סיסמא</label>
                    <input type="password" class="form-control from-control-sm" id="password" name="password" required>
                </div>
                <div class="form-group form-register col-sm-6">
                    <label for="tickets-amount"><span class="asterisk">*</span>מספר כרטיסים</label>
                    <select class="custom-select" id="tickets-amount" name="tickets_amount">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>

                <li>
                    <div class="form-check form-register col-sm-6 checkbox mb-2 chkLabel">
                        <label for="mat" class="form-check-label">
                            <input type="checkbox" class="form-check-input" id="mat" name="mat" style="font-size: 2vw">מחצלת
                        </label>
                    </div>

                    <div class="form-check form-register col-sm-6 checkbox mb-2 chkLabel">
                        <label for="instrument" class="form-check-label">
                         <input type="checkbox" class="form-check-input " id="instrument" name="instrument">
                        כלי נגינה</label>
                    </div>

                    <div class="form-check form-register col-sm-6 checkbox mb-2 chkLabel">
                         <label for="food" class="form-check-label">
                        <input type="checkbox" class="form-check-input " id="food" name="food" >
                       אוכל</label>
                    </div>

                    <div class="form-check form-register col-sm-6 checkbox mb-2 chkLabel">
                        <input type="checkbox" class="form-check-input" id="camp" name="camp">
                        <label for="camp" class="form-check-label">ציוד קמפינג</label>
                    </div>
                </li>

                <div class="form-check">
                    <sub><a class="fa-ic fa fa-envelope" href="mailto: orityhertzog@gmail.com?subject=covInD-equipment"></a> ציוד אחר- ניתן לעדכן דרך </sub>
                </div>

                <br><button type="submit" name="register" class="btn btn-primary mb-3 p-1">הירשם</button>
            </form>
        </div>
    </section>
{% endblock %}